@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;900;1000&display=swap");

:root {
    --primary-color: #fff;
    --branding-color: #e4cc8a;
}
.hero {
  text-align: center;
}
h3 {
  font-family: "nunito";
  font-weight: 700;
  font-style: normal;
  font-size: 96px;
  margin: 0;
  /* color: var(--primary-color); */
}
